*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 72px;
}

body {
  position: relative;
  background-color: #E6EDCB;
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #466df0;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
  background-color: #E6EDCB;
}

nav {
  width: 100%;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  z-index: 5;
}

nav .logo {
  width: 80px;
  height: 80px;
  padding: 0;
  background-image: url(../img/logo.jpeg);
  background-size: 140px 140px;
  background-position: center;
  z-index: 15;
}

nav .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav a,
nav .nav-link {
  color: #466df0;
  text-transform: uppercase;
}

nav a:hover,
nav .nav-link:hover {
  color: #e76c25;
}

nav .active {
  color: #e76c25;
}

nav .fa-bars {
  padding: 10px;
  color: #466df0;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .logo-color {
  color: #e76c25;
  text-transform: uppercase;
}

header h1 {
  text-transform: uppercase;
}

header p {
  font-weight: bold;
  width: 50%;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../img/man-color-head-md.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #E6EDCB;
  z-index: 1;
}

header .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -10;
}

header .hero-text {
  position: absolute;
  height: 100%;
  color: #466df0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 4;
}

header .hero-text .hero-btn {
  margin-top: 15%;
  color: #466df0;
  background-color: #E6EDCB;
}

header .hero-text .hero-btn:hover {
  background-color: #e76c25;
}

.aboutUs {
  background-color: #d1e8f0;
  height: 100vh;
  text-align: center;
}

.aboutUs .aboutUs-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 50px;
}

.aboutUs .aboutUs-text h3 {
  margin-top: 50px;
}

.blog {
  height: 100vh;
  width: 100%;
}

.team {
  width: 100%;
}

.quiz {
  height: 100vh;
  width: 100%;
}

.newsletter {
  height: 100vh;
  width: 100%;
}

.opinion {
  height: 100vh;
  width: 100%;
}

.contact {
  height: 100vh;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */