$main-color: rgb(1, 34, 143);
// $main-color: black;
$second-color: rgb(151, 245, 217);
$font-sm-color: black;
$special-color: rgb(231, 108, 37);
// $bg-color: #E6EDCB;
$bg-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$bg-color-2: rgb(245, 252, 255);
