$main-color: rgb(2, 24, 88);
$second-color: rgb(151, 245, 217);
$font-sm-color: black;
$special-color: rgb(231, 108, 37);
$bg-color: #fafafa;
// $bg-color: linear-gradient(to top, rgb(245, 244, 244) 0%, lightgrey 1%, #f1f1f1 26%, #f7f7f7 48%, #f8f6f6 75%, #fafafa 100%);
$bg-color-2: rgb(245, 252, 255);
