@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 72px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.7);
}
// nawigacja
.navbar {
	background-color: $bg-color;
}
nav {
	width: 100%;
	transition: background-color 0.6s;
	z-index: 5;
	.collapse {
		display: flex;
		justify-content: end;
	}
	a,
	.nav-link {
		color: $main-color;
	}
	a:hover,
	.nav-link:hover {
		color: $special-color;
	}
	.active {
		color: $special-color;
	}
	.fa-bars {
		padding: 10px;
		color: $main-color;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.logo-color {
		color: $special-color;
		text-transform: uppercase;
	}
}
// hero image
header {
    h1 {
        text-transform: uppercase;
    }
    p {
        font-weight: bold;
    }
    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url(../img/mind-riding-md.png);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 1;
    }
    .hero-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(270, 270, 270, 0.6);
        z-index: -10;
    }
    .hero-text {
        // position: absolute;
        height: 100%;
        color: $main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 4;
    
        .hero-btn {
            color: $main-color;
            background-color: $bg-color;
        }
        .hero-btn:hover {
            background-color: $special-color;
        }
    }


}
