@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 72px;
}

body {
	position: relative;
    font-family: 'Roboto', sans-serif;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.7);
}
// nawigacja
.navbar {
    background-color: $bg-color;
}
nav {
	width: 100%;
	transition: background-color 0.6s;
.collapse {
    display: flex;
    justify-content:end;
}
	a,
	.nav-link {
		color: $main-color;
	}
	a:hover,
	.nav-link:hover {
		color: $special-color;
	}
	.active {
		color: $special-color;
	}
	.fa-bars {
		padding: 10px;
		color: $main-color;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.logo-color {
		color: $special-color;
		text-transform: uppercase;
	}
}
